*
{
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 100%;
    margin: 0px;
    outline: 0px;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.space{
    max-width: 1024px;
    width: 100%;
}

.container{
 position:relative;
}

.heading {
    color: #000;
    line-height: 35px;
    font-style: normal;
    text-decoration: none;
    font-size: 24pt;
}

body
{
background-image: linear-gradient(rgb(8, 202, 250),rgba(255,255,255,1));
background-repeat: no-repeat;
background-color: transparent;
opacity: 1;
}

.text-span-1 {
background-position: 50% 50%;
background-size: 45px;
background-repeat: no-repeat;
color: transparent;
padding-left: 25px;
padding-right:35px;
font-size: 60%;
} 

.main-header
{
    position:absolute;
    top: 8px;
    left:16px;
    display:block;
    text-align: center;
}

.Contact
{
    position: absolute;
    bottom: 35px;
    right:50%;
    text-align:center;
    font-size:18px;
}

