*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

.Bio
{
    position: absolute;
    text-align: justify;
    right:20%;
    top: 30%;
    font-size:20pt;
    padding-top: 0pt;

}


h3 {
    position:absolute;
    right:30%;
    bottom: 20%;

}

section#trivia
{
    position:absolute;
    right: 20%;
    bottom: 11%;
}



body
{

background: linear-gradient(rgba(96,181,230,1),rgba(255,255,255,1));
background-repeat: no-repeat;
}

.text-span-1
{background-image: url(headshot.jpg);
background-position: 50% 50%;
background-size: 100px;
background-repeat: no-repeat;
color: transparent;
padding-left: 30px;
padding-right: 30px;
}



.header-container
{
    position: relative; 
    max-width: 1900px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 25pt;
    
}


section#Contact
{
    position:absolute;
    font-size: 20pt;
    top: 18px;
    right: 16px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

